<div class="container app">
  <div style="text-align:center">
    <img width="300" alt="Angular Logo" src="https://lh3.googleusercontent.com/-OY5Yc87HPHc/WmnOnJx1lYI/AAAAAAAAEf4/6u5XbbrWIjYFgE5uh2WOHNuMLhCuR-D1wCJoC/w530-h152-n-rw/Sin%2Bt%25C3%25ADtulo.jpg">
  </div>
</div>



<div class="form-group">
    <label>Sucursal</label>
    <select class="form-control">
        <option>X</option>
        <option>19</option>
        <option>40</option>
        <option>47</option>
        <option>44</option>
    </select>
</div>
<div class="form-group">
    <label>Sucursal</label>
    <select class="form-control">
        <option>30 DE AGOSTO</option>
        <option>ADROGUE</option>
        <option>ALBERTI</option>
        ALCORTA</option>
        ALEJANDRO KORN</option>
        ALMIRANTE BROWN</option>
        ALSINA</option>
        ALVEAR</option>
        AMSTRONG</option>
        ARIAS</option>
        ARRECIFES</option>
        ARROYO SECO</option>
        ARTEAGA</option>
        AVELLANEDA</option>
        BANFIELD</option>
        BARADERO</option>
        BECCAR</option>
        BENAVIDEZ</option>
        BERAZATEGUI</option>
        BERISSO</option>
        BERNAL</option>
        BILLINGHURST</option>
        BOSQUES</option>
        BOULOGNE</option>
        BOULOGNE</option>
        BRAGADO</option>
        BRANDSEN</option>
        BURZACO</option>
        <option>CAMPANA</option>
        <option>CANNING</option>
        CAÑADA DE GOMEZ</option>
        CAÑADA DE UCLE</option>
        CAÑUELAS</option>
        CAPILLA DEL SEÑOR</option>
        CAPITAL FEDERAL</option>
        CAPITAN BERMUDEZ</option>
        CAPITAN SARMIENTO</option>
        CARAPACHAY</option>
        CARCARAÑA</option>
        CARMEN DE ARECO</option>
        CASILDA</option>
        CASTELAR</option>
        CHACABUCO</option>
        CHASCOMUS</option>
        CHIVILCOY</option>
        CIUDADELA</option>
        CLAYPOLE</option>
        COLON</option>
        CORDOBA</option>
        COSQUIN</option>
        DEL VISO</option>
        DON TORCUATO</option>
        EL PALOMAR</option>
        EL TALAR</option>
        ENSENADA</option>
        ESCOBAR</option>
        ESPERANZA</option>
        ESTEBAN ECHEVERRIA</option>
        EZEIZA</option>
        FERRE</option>
        FIGHIERA</option>
        FIRMAT</option>
        FLORENCIO VARELA</option>
        FLORES</option>
        FLORIDA</option>
        GALVEZ</option>
        GARIN</option>
        GENERAL BELGRANO</option>
        GENERAL DEHEZA</option>
        GENERAL LAGOS</option>
        GENERAL LAS HERAS</option>
        GENERAL PACHECO</option>
        GENERAL RODRIGUEZ</option>
        GENERAL SAN MARTIN</option>
        GENERAL VIAMONTE</option>
        GLEW</option>
        GOBERNADOR CASTRO</option>
        GONZALEZ CATAN</option>
        GOWLOAND</option>
        GRAND BOURG</option>
        GREGORIO DE LAFERRERE</option>
        GREGORIO DE LAFERRERE</option>
        GUERNICA</option>
        HAEDO</option>
        HURLINGHAM</option>
        ING MASCHWITZ</option>
        ISIDRO CASANOVA</option>
        ITUZAINGO</option>
        JOSE C PAZ</option>
        JOSE INGENIEROS</option>
        JOSE LEON SUAREZ</option>
        JUAN BAUTISTA ALBERDI</option>
        JUAREZ CELMAN</option>
        JUNIN</option>
        LA FERRERE</option>
        LA LONJA</option>
        LA MATANZA</option>
        LA PLATA</option>
        LA TABLADA</option>
        LANUS</option>
        LANUS ESTE</option>
        LANUS OESTE</option>
        LAS PAREJAS</option>
        LIMA</option>
        LINCOLN</option>
        LLAVALLOL</option>
        LOBOS</option>
        LOMA HERMOSA</option>
        LOMAS DE ZAMORA</option>
        LOMAS DEL MIRADOR</option>
        LOS CARDALES</option>
        LOS POLVORINES</option>
        LUIS GUILLON</option>
        LUJAN</option>
        MACIEL</option>
        MALVINAS ARGENTINAS</option>
        MARCOS JUAREZ</option>
        MARCOS PAZ</option>
        MARTINEZ</option>
        MELINCUE</option>
        MERCEDES</option>
        MERLO</option>
        MONTE GRANDE</option>
        MORENO</option>
        MORON</option>
        MUNRO</option>
        NUEVE DE ABRIL</option>
        NUEVE DE ABRIL</option>
        NUEVE DE JULIO</option>
        NUEVE DE JULIO</option>
        OLIVOS</option>
        OLIVOS</option>
        PARADA ROBLES</option>
        PARANA</option>
        PASO DEL REY</option>
        PAVON ARRIBA</option>
        PEREZ</option>
        PERGAMINO</option>
        PILAR</option>
        PRESIDENTE DERQUI</option>
        PRESIDENTE PERON</option>
        PUEBLO ESTHER</option>
        QUILMES</option>
        RAFAEL CALZADA</option>
        RAFAEL CASTILLO</option>
        RAMALLO</option>
        RECREO</option>
        REMEDIOS DE ESCALADA</option>
        RINCON</option>
        RIO CUARTO</option>
        ROJAS</option>
        ROLDAN</option>
        ROQUE PEREZ</option>
        ROSARIO</option>
        RUFINO</option>
        SAN ANDRES</option>
        SAN ANDRES DE GILES</option>
        SAN ANTONIO DE ARECO</option>
        SAN CARLOS CENTRO</option>
        SAN FERNANDO</option>
        SAN FRANCISCO SOLANO</option>
        SAN ISIDRO</option>
        SAN JERONIMO SUD</option>
        SAN JORGE</option>
        SAN JOSE DE LA ESQUINA</option>
        SAN JUSTO</option>
        SAN LORENZO</option>
        SAN MARTIN</option>
        SAN MIGUEL</option>
        SAN MIGUEL DEL MONTE</option>
        SAN NICOLAS</option>
        SAN PEDRO</option>
        SAN VICENTE</option>
        SANTA FE</option>
        SANTO TOME</option>
        SARANDI</option>
        SINSACATE</option>
        SPEGAZZINI</option>
        SUIPACHA</option>
        TABLADA</option>
        TEMPERLEY</option>
        TEODELINA</option>
        TIGRE</option>
        TIMBUES</option>
        TORTUGUITAS</option>
        TOTORAS</option>
        TRANSITO</option>
        TRISTAN SUAREZ</option>
        UNION FERROVIARIA</option>
        VALENTIN ALSINA</option>
        VEDIA</option>
        VENADO TUERTO</option>
        VGG</option>
        VICENTE LOPEZ</option>
        VICTORIA</option>
        VILLA BALLESTER</option>
        VILLA BOSCH</option>
        VILLA CELINA</option>
        VILLA CONSTITUCION</option>
        VILLA ELISA</option>
        VILLA FIORITO</option>
        VILLA GDOR. GALVEZ</option>
        VILLA LUZURIAGA</option>
        VILLA LYNCH</option>
        VILLA MADERO</option>
        VILLA MAIPU</option>
        VILLA MARIA</option>
        VILLA MARTELLI</option>
        VILLA ROSA</option>
        VILLA SOLDATI</option>
        VILLA TESEI</option>
        VIRREYES</option>
        WILDE</option>
        ZARATE</option>
        ZELAYA</option>
        BIGAND</option>
        BAIGORRIA</option>
        SALTO</option>
        CORONDA</option>
        RIO PRIMERO</option>
        VILLA ELOISA</option>
        TIMBUES</option>
        CONESA</option>
        RAMOS MEJIA</option>
        9 DE ABRIL</option>
        PTO SAN MARTIN</option>
        ZAVALLA</option>
    </select>
</div>








<div class="card mb-3">
  <div class="card-header">Remitos</div>
  <table class="card-body table table-hover">
      <thead>
      <tr>
          <th>N° Transporte</th>
          <th>Facturado</th>
          <th>N° Factura</th>
          <th>Chofer</th>
          <th>Dominio</th>
          <th>Sucursal</th>
          <th>N° Remito</th>
          <th>Origen</th>
          <th>Destino</th>
          <th>Fecha de Facturación</th>
          <th>Fecha de Carga/Descarga</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <th></th>
          <td> 
            <label>
              <input type="checkbox" value=""> 
            </label>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      </tbody>
  </table>
</div>